<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039637297038-ein0l8k911jq6q6or487r8ni42lkn5uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039637297038-ein0l8k911jq6q6or487r8ni42lkn5uo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039637297038-mf24qicip5gm1k3pod79e1oqibj4mkgh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAK_zytqqlvPUPBo36JCpyvV18BXVyEnVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1039637297038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeFirebaseReduxsaga</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-12dae</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-12dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039637297038:ios:58cdb244ed82c06aa0d6df</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-12dae.firebaseio.com</string>
</dict>
</plist>